
::-webkit-scrollbar {
display: none;

}

#coverImage{
	width: 100%;
	height:100%;
	position: absolute;
	left:0px;
	top:0px;

}


.p5Canvas{
	width: 100vw;
	height: 100vh;
}

#defaultCanvas0{
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: 1;
}


@keyframes slideRight{
	from {left:150vw;}
	to {left:50vw;}
}

@keyframes spin{
	from{transform: rotate(0deg) scale(0.3);}
	to{transform: rotate(-360deg) scale(0.3);}
}

a{
	font-family: "Times New Roman", Times, serif;
	text-decoration: none;
	font-style: italic;
	color:black;
	font-size: 110%;

}

a:hover{
	font-style: normal;

}
a:active{
	font-size: 95%;
	color: #36454f;
}

body{
	background: rgb(255,255,255);
	margin: 0%;
}

h1{
	font-weight: normal;
	z-index: -1;
	font-size: 5em;
	margin-left: 20px;
	margin-bottom: 0;
}

h2{
	margin: none;
	margin-left: 20px;
	font-weight: normal;

	font-size: 1.5em;
	line-height: 1em;
  	/*border-bottom: 2px solid black;*/
  	display: inline-block;
  	line-height: 0.85;
  	border-width: .25pt;

}

h3{
	
	font-family: "Times New Roman", Times, serif;
	margin-left: 20px;
	margin-top: 40vh;
	font-weight: normal;
	font-size: 1em;
	line-height: 1em;
	margin-bottom: 5px;

}



h4{
	font-family: aktiv-grotesk, sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	font-size: 0.6em;
	margin-left: 20px;
	margin-top: 10pt;
	margin-bottom: 5px;
	line-height: .6em;
}

h5{
	font-family: "Times New Roman", Times, serif;
	margin-left: 20px;
	margin-top: 0px;
	font-weight: normal;
	font-size: 1em;
	line-height: 1em;
	line-height: 1em;
	margin-bottom: 5px;
}

p{
	margin-top: 0px;
	margin-bottom: 5pt;
	margin-left: 20px;
	margin-right: 40px;
	font-family: aktiv-grotesk, sans-serif;
	font-weight: 400;
	font-style: normal;

}

li{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	list-style: none;
	transition: 0.3s;
	line-height: 1em;

}

li:hover {
	margin-left: 22px;
	list-style: "—";
}


#main{
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;

}

#p5_loading{
	position: relative;
	text-align: center;
	z-index: 2;
	top: 40%;
	transform: scale(0.45);
}

.rightArrow{
	position: fixed;
	top: 45vh;
	right: 25px;
	font-size: 4em;
	transition: .3s;
	z-index: 2;
	font-family: aktiv-grotesk-thin, sans-serif;
	font-weight: 200;
	font-style: normal;
	z-index: 10;
	transform: translate(0, -50%);

}

.rightArrow:hover{
	transform: translate(0, -50%) scale(1.2);
}



.rightGradient{
	position: fixed;
	margin: 0;
	height: 100vh;
	width: 40vw;
	top: 0px;
	right: 0px;
	background-image: linear-gradient(to right,  white, lightgray);
	z-index: -10;
	opacity: 0;
	transition: 0.3s;
}



.navigationHoverRight{

  height: 20px;
  
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-align: right;
  font-size: 1em;
  /* Position the navigation tip */
  position: fixed;
  transform: translate(0, -50%);
  top:46vh;
  right:85px;
  z-index: 1;
}

.rightArrow:hover ~ .rightGradient{
	opacity: 1;

}


.leftArrow{
	position: fixed;
	top: 45vh;
	left: 25px;
	font-size: 4em;
	transform: translate(0, -50%);
	transition: .3s;
	z-index: 2;font-family: aktiv-grotesk-thin, sans-serif;
	font-weight: 200;
	font-style: normal;
	z-index: 10;

}

.leftArrow:hover{
	transform: translate(0, -50%) scale(1.2);
}


.leftGradient{
	position: fixed;
	margin: 0;
	height: 100vh;
	width: 40vw;
	top: 0px;
	left: 0px;
	background-image: linear-gradient(to right, lightgray, white);
	z-index: -10;
	opacity: 0;
	transition: 0.3s;

}

.leftArrow:hover ~ .leftGradient{
	opacity: 1;

}
.navigationHoverLeft{

  height: 20px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-align: left;
  font-size: 1em;
  /* Position the tooltip */
  position: fixed;
  transform: translate(0, -50%);
  top:46vh;
  left:85px;
  z-index: 1;
}

#scrollIcon{

	background-image: url("assets/scroll.gif");
	background-repeat: no-repeat;
	background-size: 50%;
  	background-position: center;
	width: 100px;
	height: 100px;
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50vw;
	top: 97vh;
}


#compositionContainer{
	position: absolute;
	width: 27vw;
	height: 48vw;
	left:50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border: 1px solid black;
	background-color: white;
/*	
	FOR WHEN I FIGURE OUT ANIMATION
	animation-name: slideRight;
  	animation-duration: 1s;*/
}


#compositionHover{
	position: absolute;
	width: 27vw;
	height: 48vw;
	left:50%;
	top: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
	background-color: white;
	z-index: 2;
	transition: opacity 0.3s;
	border: 1px solid blu;
	overflow: scroll;
}

#compositionHover:hover{
	opacity:0.85;
	
}

#reload{
	position:fixed;
	top:-15px;
	right: 40px;
	transform: scale(0.3);
	margin: none;
	z-index: 2
}

#reload:hover{
	animation-name: spin;
	animation-duration: 0.3s;
	animation-timing-function: cubic-bezier(0,0,0.3,1);
}

#reload:active {
	transform: scale(0.25);
}

#printIcon{
	background-image: url("assets/printStill.png");
	background-repeat: no-repeat;
	background-size: 80%;
  	background-position: center;
	position: fixed;
	width: 75px;
	height: 75px;
	right: 0px;
	top: 5px;

}

#printIcon:hover{

	background-image: url("assets/printAnimate.gif");

}

#printIcon:active {
	background-image: url("assets/printStill.png");

}


#textContainer{
	margin-top: 25vh;
	margin-bottom: 25vh;
	overflow: scroll;
	position: relative;
	width: 27vw;
	height: 48vw;
	left:50vw;
	top: 25vh;
	transform: translate(-50%,-50%);
	border: 1px solid black;
	background-color: white;
	transition: z-index .3s;
}

#textContainer:hover {
	z-index: 2;
}

.title{
	position: fixed;
	font-size: 14vw;
	font-family: "Times New Roman", Times, serif;
	text-align: left;
	bottom:10vh;
	left: 8vw;
	letter-spacing: -0.3vw;
	line-height: 80%;
	z-index: 2;
  }




@media screen and (min-width: 0px) and (max-width: 900px) {

	#compositionContainer{
		width: 45vh;
		height:80vh; 
	}

	#textContainer{
		width: 45vh;
		height: 80vh; 
	}	

	#compositionHover{
		display: none; 
	}	

	#compositionHover:active{
	opacity:0.75;
	}

	.title{
		bottom: 10vh;
	}

	.leftArrow{
		text-shadow:  0 0 2px white;
		opacity: 0.25;

	}

	.rightArrow{
		text-shadow:  0 0 2px white;
		opacity: 0.25;


	}

}
